.container-publicaciones {
    width: 50%;
    /* outline: 2px solid red; */
    /* background: navajowhite; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
h1 {
    text-align: center;
    /* outline: 2px solid green; */
    width: 80%;
}

.add-publicacion {
    /* background: chartreuse; */
    /* outline: 2px solid aqua; */
    margin-top: 10px;
    width: 90%;
    display: flex;
    height: 130px;
}

.publicar {
    /* outline: 2px solid red; */
    display: flex;
    text-align: start;
    width: 90%;
    height: 90px;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.enviar {
    /* outline: 2px solid slateblue; */
    height: 30px;
    width: 20%;
    border: none;
    border-radius: 20px;
    background: rgb(68, 112, 255);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    /* margin: 0; */
}

.publicaciones {
    /* outline: 2px solid blue; */
    width: 90%;
    height: 420px;
}
.list {
    /* background: orchid; */
    padding: 0;
    min-height: 400px;
}

.item-container {
    outline: 2px solid orangered;
    border-radius: 8px;
    /* border: 2px solid rgb(221, 221, 221); */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    list-style: none;
    width: 100%;
    min-height: 80px;
    display: flex;
}
.user-text {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 70px;
}
.user {
    margin: 0;
}

.item-text {
    outline: 2px solid rgb(255, 255, 255);
    /* background: sandybrown; */
    padding: 5px 10px;
    width: 100%;
    min-height: 80px;
}
.drop {
    /* outline: 2px solid salmon; */
    width: 10%;
    display: flex;
    flex-direction: column;
}

.btn-list {
    /* background: chartreuse; */
    background: none;
    border: none;
    width: 70%;
    height: 40%;
}
.img-edicion {
    width: 80%;
}
